extends layout.pug
block scripts

    script(src='/public/scripts/chartDisplay.js')

block content

    .container
        .row
            .col(id='formcol' hidden='')
                form
                    select(id='dropD', name='vote')
                    input(id="submit", type='submit', value='Submit')

            .col(id="chartCol")
                #piechart
    

        

