extends layout.pug
block scripts

    script(src='/public/scripts/myPolls.js')

block content
    .container
    
        h1 The chart you have been looking for either does not exist or has been deleted
        
