extends layout.pug
block scripts

    script(src='/public/scripts/myPolls.js')

block content
    .container(id="chartContainer" )
    
        h1 MY POLLS
        div(id="loading") 
            h2 Loading Please Wait
        
        div.pb-2
        
