/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

body {    /*stop navbar hiding content when its collapsed*/
    padding-top: 65px;
}


@media (min-width: 769px) {
  body {
    padding-top: 65px;
  }

}

#piechart {
  width: 100%; 
  min-height: 450px;
  
  display: block;
  margin-left : auto;
  margin-right : auto;
}
#chartContainer{
  
  background-color: #FFF9E3;
}

#deleteFlex {
    display: -webkit-flex;
    display: flex;
    align-items :flex-end;
}


/*#deleteDIV{

}

/*#delete{
    width: 90%;
}*/